.button {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 20px;
    border-radius: 10px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.2px;
}
